@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fraunces', serif;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

/* navbar */
.container {
  max-width: 875px;
  height: 100%;
  margin: 0px auto;
  background-color: rgb(31, 201, 198);


}

.navbar-container {
  background-color: rgb(2, 8, 17);
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.navbar-container h3 {
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
  color: antiquewhite;
  margin: 0px;


}

.navbar-container h3:hover {
  color: rgb(146, 205, 192);
}

.navbar-container ul {
  padding:inherit;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 0; */



}

.navbar-container ul li {

  /* padding: 0px 25px; */
  list-style: none;
  text-decoration: none;

}

li,
a {
  text-decoration: none;
  color: antiquewhite;
  font-weight: 16px;
}

li:hover {

  color: rgb(146, 205, 192);
}



/* Footer  */

.footer-container {
  display: flex;
  justify-content: space-between;
  background-color: black;
  font-size: 12px;
  padding: 0px 10px;
  height: 5vh;

}

.footer-container .footer-left div {
  margin-top: 10px;
  color: aliceblue
}

.footer-container .footer-left div a {
  color: blue;
}

.footer-container .footer-left {
  display: flex;
  justify-content: space-between;
}

.footer-container .footer-right ul {
  display: flex;

}

.footer-container .footer-right ul li {
  list-style: none;
  padding: 0px 5px;
  color: aliceblue;
}







/* RegistrationForm */
.register-container {
  background-color: rgb(31, 201, 198);

  height: 87vh;

}

.register-container h3 {
  text-align: center;

  color: rgb(172, 16, 16);
  font-size: 25px;
  border-radius: 20px;
  /* width: 500px; */
  margin: 0 auto;
  padding: 15vh 0 1px 0;

}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.register-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-indi-body label {
  color: black;
  font-weight: 30;
  font-size: larger;
}

.register-indi-body input {
  margin: 10px;
  width: 350px;
  height: 5vh;
  border: none;
  border-radius: 15px;
}

.btn-register {
  width: 200px;
  height: 5vh;
  border-radius: 10px;
  border: none;
  color: rgb(236, 236, 239);
  background-color: blue;
  margin: 15px;
}





/* Myprofile */

.myprofile-container {
  display: flex;
  justify-content: space-between;
  margin: 0vh 10vh;
  background-color: rgb(31, 201, 198);
}

.myprofile-left {
  margin: 1.2vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(125, 125, 155);
  color: aliceblue;
  font-size: 40px;
  font-weight: bold;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.myprofile-right {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.myprofile-right div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myprofile-right div label {
  font-size: 20px;
  font-weight: 900;
  color: rgb(25, 37, 58);
}

.myprofile-right div div {
  color: white;
}

.line {
  width: 100%;
  height: 10px;

  background-color: rgb(67, 24, 24);
}

/* dashboad */

.btn-addcontact {
  text-align: center;
}

.btn-addcontact-plus {
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  color: wheat;
  font-size: 15px;
  background-color: rgb(85, 17, 17);
}

.btn-add {
  width: 80px;
  height: 35px;
  background-color: blue;
  border: none;
  border-radius: 25px;
}



/* contactslist */



.contactslist-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactslist-m-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  margin: 10px;
  height: 70px;
  background-color: rgb(27, 195, 94);
  width: 95%;
  border-radius: 50px;

}

.contact-logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(29, 234, 234);
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactslist-sublist {
  color: black;
  line-height: 16px;
  font-weight: bold;
}

.contactslist-sublist button {
  border: none;
  margin: 1px;
  background-color: blue;
  color: azure;
  border-radius: 20px;
  font-size: small;
}

.loading {
  height: 100vh;
  text-align: center;
}







/* home */

.descri-container {
  display: flex;
  text-align: center;
  align-items: center;
  height: 87vh;
}

.descri-container h2 {
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.decri-contain-features {
  text-align: center;
  box-shadow: 0px 2px 0.2px 0px;
}

/* very small size screen  */
@media (max-width:350px) {

  .container {
    width: 300px;
  }

  .navbar-container {
    background-color: rgb(2, 8, 17);
    height: 8vh;
    text-align: center;

  }

  .navbar-container h3 {
    font-size: 10px;
  }

  .navbar-container ul {
    width: 95%;
    font-size: 10px;
    color: blue;


  }

}

@media (max-width:500px) {

  /* .container{
    max-width: 875px;
    height: 100%;
     margin: 0px auto;
    background-color: rgb(31, 201, 198);
    
  
  } */
  .container {
    width: 500px;
  }

  .navbar-container {

    height: 10vh;
    text-align: center;

  }

  .navbar-container h3 {
    font-size: 15px;
  }

  .navbar-container ul {
    padding:inherit;
    width:100%;
    font-size: 15px;
    padding:0px
  }
  .register-indi-body input {
    margin: 10px;
    width: 250px;
    height: 5vh;
    border: none;
    border-radius: 15px;
  }
  .btn-register {
    width: 100px;
    height: 5vh;
    border-radius: 10px;
    border: none;
    color: rgb(236, 236, 239);
    background-color: blue;
    margin: 15px;
  }

}